.idea
/JavaToKotlin/.idea/
/library-app/build
/library-app/.idea
/library-app/.gradle
/Kotlin_Spring_Library_Application/library-app/build
/Kotlin_Spring_Library_Application/library-app/.idea
/Kotlin_Spring_Library_Application/library-app/.gradle
